@{
    ViewData["Title"] = "Home Page";
}


<div id="maindiv" class="container">
    <span>Something</span><br>
    <span>First Hello</span><br>
</div>

<div class="ShoppingContainer">

</div>
<section class="ShoppingContainer">
    <span id="MySpan2">This is a section</span>
</section>


<script src="~/js/MyProject.js" type="text/javascript"></script>


